
<section class="books">
	<div class="book-1">
		<div class="box">
			<a href="/minibook/"><img src="/images/minibook.jpg"/></a>
	    </div>
	</div>
	<div class="book-2">
		<div class="box">
			<a href="/cookbook/"><img src="/images/cookbook.jpg"/></a>
	    </div>
	</div>
	<p>
		Two books on <strong>Python for data science</strong>, by <a href="http://cyrille.rossant.net">Cyrille Rossant</a>.
	</p>
	<div class="book-1">
		<div class="box">
			<p>beginner-level</p>
			<a href="https://github.com/ipython-books/minibook-code"><button class="button-book1 button-code pure-button">
				<i class="fa fa-code"></i>&nbsp;&nbsp;&nbsp;code
			</button></a>
			<a href="https://github.com/ipython-books/minibook-data"><button class="button-book1 button-data pure-button">
				<i class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;data
			</button></a>
			<a href="/tag/minibook/"><button class="button-book1 button-news pure-button">
				<i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;&nbsp;updates
			</button></a>
	    </div>
	</div>
	<div class="book-2">
		<div class="box">
			<p>advanced-level</p>
			<a href="https://github.com/ipython-books/cookbook-code"><button class="button-book2 button-code pure-button">
				<i class="fa fa-code"></i>&nbsp;&nbsp;&nbsp;code
			</button></a>
			<a href="https://github.com/ipython-books/cookbook-data"><button class="button-book2 button-data pure-button">
				<i class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;data
			</button></a>
			<a href="/tag/cookbook/"><button class="button-book2 button-news pure-button">
				<i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;&nbsp;updates
			</button></a>
	    </div>
	</div>
</section>
